<footer class="footer">
  <div class="footer__inner">
    <div class="copyright copyright--user">
      Copyright © 2022–{{ now.Format "2006" }}
      Jan Willhaus.
      All rights reserved. <a href="/impressum">Impressum</a>.
    </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}
{{ $theme := resources.Get "js/theme.js" | js.Build }}
{{ $bundle := slice $menu $prism $theme | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

{{- partial "extended_footer.html" . }}
