<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}"
/>
<meta
  name="keywords"
  content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"
/>
<meta name="robots" content="noodp" />
<link rel="canonical" href="{{ .Permalink }}" />

<!-- head custom -->
{{- partial "prepended_head.html" . }}

<!-- Theme CSS -->
{{ $res := resources.Get "css/style.scss" }}
{{ $style := $res | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

<!-- Icons -->
<link href="{{ "img/favicon-16x16.png" | absURL }}" rel='icon' sizes='16x16' type='image/png'>
<link href="{{ "img/favicon-32x32.png" | absURL }}" rel='icon' sizes='32x32' type='image/png'>
<link href="{{ "img/favicon-48x48.png" | absURL }}" rel='icon' sizes='48x48' type='image/png'>
<link href="{{ "img/apple-touch-icon-57x57.png" | absURL }}" rel="apple-touch-icon" sizes="57x57">
<link href="{{ "img/apple-touch-icon-60x60.png" | absURL }}" rel="apple-touch-icon" sizes="60x60">
<link href="{{ "img/apple-touch-icon-72x72.png" | absURL }}" rel="apple-touch-icon" sizes="72x72">
<link href="{{ "img/apple-touch-icon-76x76.png" | absURL }}" rel="apple-touch-icon" sizes="76x76">
<link href="{{ "img/apple-touch-icon-114x114.png" | absURL }}" rel="apple-touch-icon" sizes="114x114">
<link href="{{ "img/apple-touch-icon-120x120.png" | absURL }}" rel="apple-touch-icon" sizes="120x120">
<link href="{{ "img/apple-touch-icon-144x144.png" | absURL }}" rel="apple-touch-icon" sizes="144x144">
<link href="{{ "img/apple-touch-icon-152x152.png" | absURL }}" rel="apple-touch-icon" sizes="152x152">
<link href="{{ "img/apple-touch-icon-167x167.png" | absURL }}" rel="apple-touch-icon" sizes="167x167">
<link href="{{ "img/apple-touch-icon-180x180.png" | absURL }}" rel="apple-touch-icon" sizes="180x180">
<link href="{{ "img/apple-touch-icon-1024x1024.png" | absURL }}" rel="apple-touch-icon" sizes="1024x1024">
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}" />

<!-- Fonts -->
<link href="{{ (resources.Get "fonts/Inter-Italic.woff2").RelPermalink }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ (resources.Get "fonts/Inter-Regular.woff2").RelPermalink }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ (resources.Get "fonts/Inter-Medium.woff2").RelPermalink }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ (resources.Get "fonts/Inter-MediumItalic.woff2").RelPermalink }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ (resources.Get "fonts/Inter-Bold.woff2").RelPermalink }}" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="{{ (resources.Get "fonts/Inter-BoldItalic.woff2").RelPermalink }}" rel="preload" type="font/woff2" as="font" crossorigin="">

<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- head custom -->
{{- partial "extended_head.html" . }}
