{{ if .IsTranslated }}
{{ $pageLang := .Page.Lang}}
<div class="post-translations">
<ul>
  {{ range .AllTranslations -}}
  <li><a title="{{ i18n (print "read_in_lang." .Lang) }}" href="{{ .RelPermalink }}" {{ if eq $pageLang .Lang}}class="active"{{ end }}>{{ .Lang | upper }}</a></li>
  {{- end }}
</ul>
</div>
{{ end }}
