.footer {
  padding: 40px 20px;
  flex-grow: 0;
  color: var(--color-secondary);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    @media ($tablet) {
      flex-direction: column;
    }
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;

    &--user {
      margin: auto;
      text-align: center;
      display: block;
    }

    &>*:first-child:not(:only-child) {
      border-right: 1px solid;
      padding-right: 10px;
      margin-right: 10px;

      @media ($tablet) {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    @media ($tablet) {
      flex-direction: column;
      margin-top: 10px;
    }
  }
}
