.header {
  background: var(--header);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media ($phone) {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
  }
}

.theme-toggle,
.language-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler,
.language-toggle {
  fill: var(--header-text);
}
