.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media ($tablet) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;

    @media ($phone) {
      font-size: .85rem;
    }

  }

  &-translations {
    display: inline-block;

    & ul {
      display: inline-block;
      list-style: none;
      margin-left: 0.5rem;

    }

    & li {
      display: inline-block;

      & a.active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: var(--color-secondary);
      }
    }

    & li:not(:first-of-type) {
      border-left: 1px solid;
      padding-left: 5pt;
    }

    & li:not(:last-of-type) {
      padding-right: 5pt;
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 20px;
    display: inline-block;

    @media ($phone) {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  // spell-checker:ignore moddate
  &-moddate {
    color: var(--color-secondary);
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;

    img {
      margin: 0 auto;
      border-radius: 8px;
      box-shadow: 0 12px 40px rgba(0, 0, 0, .15);
    }

    @media ($tablet) {
      margin: 20px 0;
      width: 100%;
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}
